@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
:root{
  --maincolor: red;
  --bordercl:rebeccapurple;
  --callouctcolor:dodgerblue;
  --hovercolor:navy;
  --darkMaincolor: #f86802;
}

html {
  color: #232333;
  font-family: 'Fira Code', 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}


/*
body {
background: #0f0c29;
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
*/

body {
  background: #000 url('/images/back.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
}

hr {
  border-top: 3px dotted white;
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}

a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.float-right{
  float:right;
}

.no-border{
  border: none;
}

.halloween-hr {
  display:block;
  border:0px;
  height:30px;
  background:url('/images/blood_hr.gif') repeat-x;
}
