{{ define "main" }}
<main>
	<article class="h-entry">
		<div class="title">
			<h1 class="title p-name">{{ .Title }}</h1>
                        <div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		{{ if isset .Params "thumbnail" }}
		<div >
                  <img src="{{ .Params.thumbnail }}" />
		</div>{{ end }}


		<section class="body e-content">
			{{ .Content }}
		</section>
                <a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
		<div>
			{{ partial "webmention.html" . }}
		</div>
        <small>permalink: <a class="u-url" href="{{ .Page.Permalink }}">{{ .Page.Permalink }}</a> </small>
		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li>&nbsp;<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>

	</article>
</main>
{{ end }}
