<!-- https://github.com/aaronpk/webmention.io#api -->
<!-- https://github.com/aaronpk/webmention.io#find-links-of-a-specific-type-to-a-specific-page -->
{{ $page := . }}
{{ with site.Params.indieweb }}
  {{ $domain := .domain | strings.TrimRight "/" }}
  {{ with .webmention }}
    {{ $wm_target_links := (slice (printf "target[]=%s%s" $domain $page.RelPermalink)) }}
    {{ range $page.Params.aliases }}
      {{ $alias := . | replaceRE "[^/]$" "${0}/" }}
      {{ $wm_target_links = $wm_target_links | append (printf "target[]=%s%s" $domain $alias) }}
    {{ end }}
    
    {{ $wm_targets := delimit $wm_target_links "&" }}
    {{ $num_mentions_max := 200 }}
    {{ $finalUrl := printf "%sapi/mentions?%s&per-page=%d&page=0" .endpoint $wm_targets $num_mentions_max }}
    
    {{ $webmentions_req := resources.GetRemote $finalUrl }}
    {{ if $webmentions_req }}
      {{ $webmentions_rcv := $webmentions_req | transform.Unmarshal }}
      {{ $like_cnt := 0 }}
      {{ $repost_cnt := 0 }}
      
      {{ with $webmentions_rcv }}
        {{ with .links }}
          <h3>Webmentions</h3>
          
          {{ range . }}
            {{ $wm := . }}
            {{ $activity := (index $wm "activity") }}
            {{ $activity_type := (index $activity "type") }}
            {{ $data := (index $wm "data") }}
            {{ $mention_url := (index $data "url") }}
            {{ $mention_content := (index $data "content") }}
            
            {{ $published_date := 0 }}
            {{ with (index $data "published") }}
              {{ $published_date = ((time .).Local | dateFormat "Mon Jan 2, 2006") }}
            {{ end }}
            
            {{ $verified_date := 0 }}
            {{ with (index $wm "verified_date") }}
              {{ $verified_date = ((time .).Local | dateFormat "Mon Jan 2, 2006 15:04 MST") }}
            {{ end }}
            
            {{ $author_obj := (index $data "author") }}
            {{ with $author_obj }}
              {{ $author_name := (index . "name") }}
              {{ $author_photo := (index . "photo") }}
              {{ $author_url := (index . "url") }}
              
              {{ if (eq $activity_type "reply") }}
                <dt>Comment by 
                  {{ if $author_url }}
                    <a href="{{ $author_url }}" class="no-text-decoration">{{ $author_name }}</a>
                  {{ else }}
                    {{ $author_name }}
                  {{ end }}
                  [{{ with $verified_date }}on {{ . }}{{ end }}]({{ $mention_url }}){.no-text-decoration}
                </dt>
                <dd>
                  {{ if (findRE "^https://commentpara\\.de" $mention_url) }}
                    {{ $mention_content = $mention_content | replaceRE " " "\n" }}
                    {{ $mention_content = $mention_content | replaceRE "(^|\\n)> " "\n> " }}
                    {{ $mention_content = $mention_content | replaceRE " -> " " -> " | replaceRE " <- " " <- " }}
                    {{ $mention_content = $mention_content | $.Page.RenderString | emojify }}
                  {{ end }}
                  {{ $mention_content | safeHTML }}
                </dd>
              
              {{ else if (eq $activity_type "link") }}
                <dt>Mentioned by 
                  {{ if $author_url }}
                    <a href="{{ $author_url }}" class="no-text-decoration">{{ $author_name }}</a>
                  {{ else }}
                    {{ $author_name }}
                  {{ end }}
                  [{{ with $verified_date }}on {{ . }}{{ end }}]({{ $mention_url }}){.no-text-decoration}
                </dt>
                <dd>
                  {{ $mention_title := (index $data "name") }}
                  {{ with $mention_title }}
                    <strong><a href="{{ $mention_url }}">{{ . }}</a></strong><br>
                    {{ with $published_date }}Published on {{ . }}{{ end }}
                    <hr>
                  {{ end }}
                  {{ $mention_content | replaceRE "(]+\\bhref=[^>]+)>" "${1}>" | safeHTML | truncate 250 }}
                </dd>
              
              {{ else if (eq $activity_type "like") }}
                {{ $like_cnt = (add 1 $like_cnt) }}
              {{ else if (eq $activity_type "repost") }}
                {{ $repost_cnt = (add 1 $repost_cnt) }}
              {{ else }}
                {{ $activity }}
              {{ end }}
            
            {{ else }}
              {{ with $mention_url }}
                <dt>Mentioned at</dt>
                <dd><a href="{{ . }}" class="no-text-decoration">{{ . }}</a></dd>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}