<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
  <div class="content">
    {{ partial "head.html" . }}



    <main class="list">
      <div class="site-description">
        {{- if isset .Site.Params "subtitle" -}}
        {{- end -}}
      </div>
      <!--
        <div class="float-right">
          <img src="/images/halloweenjason.gif" class="no-border" />
        </div>
      -->
      <h1>Welcome</h1> you've stumbled onto my humble corner of the internet!
      This website is the personal site of Ben Neil, a lifelong programmer and generalist. 
      This site is always a work in progress, constantly evolving and growing as I explore new technologies and ideas. 
      <br/>
      <br/>
      Whether you're a seasoned programmer, a curious web surfer 🏄, 
      or just someone looking to read a blog and relax, 
      I hope you'll find something here to enjoy! That's what the internet is about! 

      <p />

      <!--
      <h2>Most Recently Added Posts</h2>
      <ul>
        {{ range after 1 (  where .Site.Pages "Type" "posts" | first 4 ).ByDate.Reverse  }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    -->


      <h2>Most Recently Modified Posts</h2>
      <ul>
        {{ range ( where .Site.RegularPages "Type" "posts" | first 7 ).ByLastmod.Reverse }}
          <li><a href="{{ .Permalink }}">{{ .Description }}</a></li>
        {{end}}
      </ul>

      <div style="padding-top:25px" class="homepage-head">
        <img src="/images/talking-head-768.jpg" />
      </div>


      <h2>Categories</h2>
      {{- $catz := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
      {{range $index, $t := sort $catz }}
      <a href="{{.Permalink}}">{{.Title}}</a> {{- if ne $index (len $catz) }} | {{ end }}
      {{end}}


      <h2>Tags</h2>
      {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
      <a href="{{.Permalink}}">#{{.Title}}</a>
      {{end}}



      <!--
          {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
          {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
          {{ range $paginator.Pages }}
          <section class="list-item">
          <h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
          <time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
          <br><div class="description">
          {{ if isset .Params "description" }}
          {{ .Description }}
          {{ else }}
          {{ .Summary }}&hellip;
          {{ end }}
          </div>
          <a href="{{ .RelPermalink }}">Read more ⟶</a>
          </section>
          {{ end }}
          {{ template "partials/paginator.html" . }}
        -->


    </main>
    {{ partial "footer.html" . }}

    <p style="text-align: center;">
      <a href="gemini://shiny.bneil.me">
        <img src="/images/gemini.jpeg" />
      </a>
      &nbsp;
  </div>

</body>

</html>
